{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include 'partials/slider.html.twig' %}
    
    <div class="section section-white">
        <div class="container">
            <div class="row">
                
                <div class="section-title">
                    <h1>Our Recent Works</h1>
                </div>
                
                
                <ul class="grid cs-style-3">
                    <div class="col-md-4 col-sm-6">
                        <figure>
                            <img src="{{ asset('build/img/portfolio/4.jpg') }}" alt="img04">
                            <figcaption>
                                <h3>Settings</h3>
                                <span>Jacob Cummings</span>
                                <a href="portfolio-item.html">Take a look</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure>
                            <img src="{{ asset('build/img/portfolio/1.jpg') }}" alt="img01">
                            <figcaption>
                                <h3>Camera</h3>
                                <span>Jacob Cummings</span>
                                <a href="portfolio-item.html">Take a look</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure>
                            <img src="{{ asset('build/img/portfolio/2.jpg') }}" alt="img02">
                            <figcaption>
                                <h3>Music</h3>
                                <span>Jacob Cummings</span>
                                <a href="portfolio-item.html">Take a look</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure>
                            <img src="{{ asset('build/img/portfolio/5.jpg') }}" alt="img05">
                            <figcaption>
                                <h3>Safari</h3>
                                <span>Jacob Cummings</span>
                                <a href="portfolio-item.html">Take a look</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure>
                            <img src="{{ asset('build/img/portfolio/3.jpg') }}" alt="img03">
                            <figcaption>
                                <h3>Phone</h3>
                                <span>Jacob Cummings</span>
                                <a href="portfolio-item.html">Take a look</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure>
                            <img src="{{ asset('build/img/portfolio/6.jpg') }}" alt="img06">
                            <figcaption>
                                <h3>Game Center</h3>
                                <span>Jacob Cummings</span>
                                <a href="portfolio-item.html">Take a look</a>
                            </figcaption>
                        </figure>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- Our Portfolio -->
    
    <hr>
{% endblock %}
