{% extends 'base.html.twig' %}

{% block title %}{{category.name.getContent(app.request.locale)}}{% endblock %}

{% block body %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{% trans %}category {% endtrans %}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <!-- category Post -->
                <div class="col-sm-8">
                    <div class="category-post category-single-post">
                        <div class="single-post-title">
                            <h2>{{category.name.getContent(app.request.locale)}}</h2>
                        </div>

                        {#<div class="single-post-image">
                            <img src="{{asset('uploads/images/blogs/'~category.imageName)}}" alt="{{category.imageName}}">
                        </div>#}
                        <div class="single-post-info">
                            <i class="glyphicon glyphicon-time"></i>{{category.date | date('d F, Y')}}
                            {#<a href="#" title="Show Comments">
                                <i class="glyphicon glyphicon-comment"></i>{{category.comments}}
                            </a>#}
                        </div>
                        <div class="single-post-content">
                            <p>{{category.description.getContent(app.request.locale)}} </p>
                        </div>
                        <h3>{% trans %}blogs{% endtrans %}</h3>
                        {% if category.blogs %}
                            {% for blog in category.blogs %}
                            <a href="{{ path('app_work_show', {'id': blog.id, 'slug': blog.slug}) }}">
                                {{blog.name.getContent(app.request.locale)}}</a>{% if (loop.index != loop.length) %},{% endif %}<br/>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <!-- End category Post -->
                <!-- Sidebar -->
                <div class="col-sm-4 category-sidebar">

                    <h4>{% trans %}recent_posts{% endtrans %}</h4>

                    {{ render(controller('App\\Controller\\BlogController::list',{'nmb':4, 'vue':'listinaside'})) }}

                    <h4>{% trans %}categories{% endtrans %}</h4>

                    {{ render(controller('App\\Controller\\CategoryController::list',{'nmb':4, 'vue':'listinaside'})) }}

                </div>
                <!-- End Sidebar -->
            </div>
        </div>
    </div>

{% endblock %}