{% extends 'base.html.twig' %}

{% block title %}{{tag.name.getContent(app.request.locale)}}{% endblock %}

{% block body %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{% trans %}tag {% endtrans %}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <!-- tag Post -->
                <div class="col-sm-8">
                    <div class="tag-post tag-single-post">
                        <div class="single-post-title">
                            <h2>{{tag.name.getContent(app.request.locale)}}</h2>
                        </div>

                        {#<div class="single-post-image">
                            <img src="{{asset('uploads/images/blogs/'~tag.imageName)}}" alt="{{tag.imageName}}">
                        </div>#}
                        <div class="single-post-info">
                            <i class="glyphicon glyphicon-time"></i>{{tag.date | date('d F, Y')}}
                           {#<a href="#" title="Show Comments">
                                <i class="glyphicon glyphicon-comment"></i>{{tag.comments}}
                            </a>#}
                        </div>
                            <div class="single-post-content">
                            <p>{{tag.description.getContent(app.request.locale)}} </p>
                        </div>
                        <h3>{% trans %}works{% endtrans %}</h3>
                        {% if tag.works %}
                            {% for work in tag.works %}
                            <a href="{{ path('app_work_show', {'id': work.id, 'slug': work.slug}) }}">
                                {{work.name.getContent(app.request.locale)}}</a>{% if (loop.index != loop.length) %},{% endif %}<br/>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <!-- End tag Post -->
                <!-- Sidebar -->
                <div class="col-sm-4 tag-sidebar">

                    <h4>{% trans %}recent_posts{% endtrans %}</h4>

                    {{ render(controller('App\\Controller\\BlogController::list',{'nmb':4, 'vue':'listinaside'})) }}

                    <h4>{% trans %}categories{% endtrans %}</h4>

                    {{ render(controller('App\\Controller\\CategoryController::list',{'nmb':4, 'vue':'listinaside'})) }}

                </div>
                <!-- End Sidebar -->
            </div>
        </div>
    </div>

{% endblock %}